body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#msg-container {
  width: 50%;
  max-width: 1200px;
}

#msg-container div {
  background-color: rgb(211, 255, 139);
  padding: 5px;
}

#msg-container div:nth-child(2n) {
  background-color: rgb(255, 254, 177);
}

#send-container {
  position: fixed;
  padding-bottom: 60px;
  bottom: 0;
  background-color: rgb(251, 255, 247);
  max-width: 1200px;
  width: 50%;
  display: flex;
}

#msg-input {
  flex-grow: 1;
}